.App code {
    white-space: pre; font-family: monospace; line-height: 1em;
}

.App .doc-level {
    margin-left: 20px;
}

.App .doc-level:hover {
    outline: 1px solid black;
}

.Ops span.token:hover {
    outline: 1px solid black;
}

.Ops span.token:hover span.token-body {
    text-decoration: underline;
}

.Ops span.open-op, .Ops span.close-op, .Ops span.break {
    position: relative;
    width: 3px;
    height: 1em;
    display: inline-block;
    margin: 0 1px;
}

.Ops span.open-op {
    background: green;
}

.Ops span.close-op {
    background: red;
}

.Ops span.break.FillMode-UNIFIED {
    background: #777;
}

.Ops span.break.FillMode-INDEPENDENT {
    background: #333;
}

.Ops span.break.FillMode-FORCED {
    background: #000;
    width: 5px;
}

.Ops span.break.conditional {
    height: 0.4em;
    width: 0.4em;
    vertical-align: middle;
}
