.App code {
    white-space: pre; font-family: monospace; line-height: 1em;
}

span.token:hover {
    outline: 1px solid black;
}

span.token:hover span.token-body {
    text-decoration: underline;
}

span.open-op, span.close-op, span.break-tag {
    position: relative;
    width: 3px;
    height: 1em;
    display: inline-block;
    margin: 0 1px;
}

span.open-op {
    background: green;
}

span.close-op {
    background: red;
}

span.break-tag.FillMode-UNIFIED {
    background: #777;
}

span.break-tag.FillMode-INDEPENDENT {
    background: #333;
}

span.break-tag.FillMode-FORCED {
    background: #000;
    width: 5px;
}

span.break-tag.conditional {
    height: 0.4em;
    width: 0.4em;
    vertical-align: middle;
}
