.TreeAndDoc .node-info {
    min-height: 100px;
    max-height: 100px;
}

.TreeAndDoc .node-info td {
    padding: 0 5px;
}

.TreeAndDoc .explorationNode-description {
    text-decoration: underline;
}